@use "../../utils" as *;

/*----------------------------------------*/
/*  6.3 Footer Style 3
/*----------------------------------------*/

.#{$theme-prifix}-footer {
  $self: &;
  &-style-3 {
    #{$self} {
      &-social {
        & a {
          &:hover {
            background-color: var(--tp-theme-yellow);
            border-color: var(--tp-theme-yellow);
          }
        }
      }
      &-widget {
        &-title {
          margin-bottom: 15px;
        }
        & ul {
          & li {
            & a {
              &:hover {
                color: var(--tp-theme-yellow);
                &::after {
                  background-color: var(--tp-theme-yellow);
                }
              }
            }
          }
        }
      }
      &-talk {
        & h4 {
          & a {
            &:hover {
              color: var(--tp-theme-yellow);
            }
          }
        }
      }
      &-contact {
        &-content {
          & p {
            & a {
              &:hover {
                color: var(--tp-theme-yellow);
              }
            }
          }
        }
      }
      &-copyright {
        & p {
          & a {
            color: var(--tp-theme-yellow);
          }
        }
      }
    }
  }
}
